<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- ========================= VUE CDN ========================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- ============================ VUE ROUTER ========================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3.5.3/dist/vue-router.min.js"></script>

    <title>testing</title>
  </head>
  <body>
    <div id="app">
      <h2>hello world</h2>
      <h3>
        <router-link to="/">home</router-link>
        <router-link to="/delete_deck">delete</router-link>
      </h3>
      <hr />
      <router-view></router-view>
    </div>
    <script type="text/javascript" src="testing.js"></script>
  </body>
</html>
